body {
    /*background: url(https://images.unsplash.com/photo-1477936821694-ec4233a9a1a0?auto=format&fit=crop&w=720&q=60&ixid=dW5zcGxhc2guY29tOzs7Ozs%3D);*/
    background: url(https://images.unsplash.com/photo-1414438071614-314f6b1fd4a8?auto=format&fit=crop&w=752&q=60&ixid=dW5zcGxhc2guY29tOzs7Ozs%3D);
    background-size: cover;
    background-position: center;
    border: 20px solid #bdc3c7;
    max-width: 700px;
    width: 80%;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: 'Roboto', sans-serif;
    /*font-family: 'PT Sans', sans-serif;*/
    /*font-family: 'Lato', sans-serif;*/
    box-shadow: 0 0 2em black;
}

#border {
    background: white;
    padding: 30px;
}

h1 {
    text-align: center;
    font-family: 'Cinzel', serif;
    letter-spacing: 2px;
}    

h5 {
    text-align: center;
    margin-top: 2px;
    margin-bottom: 2px;
}

#leftBorder {
    border-left: 3px solid #bdc3c7;
    padding-left: 6px;
}

hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

.company {
    margin-top: 2px;
    font-style: italic;
}

.job {
    margin-bottom: 2px;
}

#school {
    margin-bottom: 2px;
}

#degree {
    margin-top: 2px;
}

span {
    float: right;
}
